<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auron-Login</title>
    <link rel="stylesheet" href="../static/css/login_styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/Faviicon/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Faviicon/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/Faviicon/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/Faviicon/favicon_io/site.webmanifest">
</head>
<body>
    <header class="hd">
        <figure class="logo">
            <img src="../static/Faviicon/trace.svg">
        </figure>
        <nav class="navigate">
            <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
            <div class="nav-menu">
                <ul id="menu-list">
                    <a href="{{ url_for('main_page') }}"><li>Home</li></a>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Emergency</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('guide1') }}">CPR</a>
                            <a href="{{ url_for('guide2') }}">Snake Bite</a>
                            <a href="{{ url_for('guide3') }}">Fire Accident</a>
                            <a href="{{ url_for('guide4') }}">Electric Shock</a>
                        </div>
                    </li>
                    <a href="{{ url_for('signup_page') }}"><li>Login</li></a>
                    <a href="#" onclick="openPopup()"><li>About Us</li></a>
                </ul>
            </div>
        </nav>
    </header>
    <div id="about-us-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2>Meet the Auron Team</h2>
            <div class="part">
            <ul >
                <li class="highlight">T.Gowtham Reddy</li>
                <li class="highlight">Shaik Zuheruddin</li>
                <li class="fade-out">S.Kalyan Reddy</li>
                <li class="fade-out">Mohammad Asif</li>
                <li class="fade-out">K.D.V.Chakradhar</li>
            </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="login-container">
            <figure id="title">
               <img src="../static/Faviicon/IMG_1167.png" alt="Auron">
               <figcaption>~Health Activated</figcaption>
            </figure>
            <h2>Get Started by using for Free</h2>
            <div  class="input-group">
                <a href="{{ url_for('main_page') }}">
                    <button type="button" id="Start">Get recommendation</button>
                </a>
            </div>
            <h2>Try Logging In</h2>
            <div class="input-group"><button id="begin">Login</button></div>
            <p> Get personalized insights and take control of your well-being today!</p>
            <div id="over">
            <form action="/login" method="POST">
                <h2>Welcome Back!</h2>
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <button type="submit">Login</button>
                </div>
                <p>Don't have an account? <a href="{{ url_for('signup_page') }}">Sign Up</a></p>
            </form>
            <button id="X">X</button>
            </div>
        </div>
        <div class="data">
            <h1 id="welcome">Welcome To Auron</h1>
        </div>
    </div>
    <script>

        let close=document.getElementById("over");
        let begin=document.getElementById("begin");
        let x=document.getElementById("X");     
        function strtbutton(){
            if(close.style.display=="block"){
                close.style.display="none";
                begin.innerText=`Login`;
                begin.style.backgroundColor="#007bff";
            }
            else{
                close.style.display="block";
                begin.innerText=`Close`;
                begin.style.backgroundColor="red";
            }
        };
        function closebtn(){
            close.style.display="none";
            begin.innerText=`Login`;
            begin.style.backgroundColor="#007bff";
        }
        begin.addEventListener("click",strtbutton);
        x.addEventListener("click",closebtn);
        function openPopup() {
            document.getElementById("about-us-popup").style.display = "block";
        }
        function closePopup() {
            document.getElementById("about-us-popup").style.display = "none";
        }
        function toggleMenu() {
            document.getElementById("menu-list").classList.toggle("active");
        }
    </script>
    <p style="display: none;">© 2025 Shaik Zuheruddin. All Rights Reserved.</p>
</body>
</html>
